@charset "UTF-8";
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

/* Секция */
.section {
  width: 100%;
}
@media screen and (min-width: 320px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.button {
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87em;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  background-color: #2196f3;
  border: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Контейнер */
.container {
  width: 100%;
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/* Лого */
.logo-web {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16em;
  letter-spacing: 0.03em;
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .logo-web {
    font-size: 26px;
    line-height: 1.19em;
  }
}

.logo__header {
  color: #212121;
}

.logo-footer {
  color: #ffffff;
}

/* Header */
.header {
  border-bottom: solid #ececec 1px;
}
.header .container {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (min-width: 768px) {
  .header .container {
    padding: 0;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 320px;
  }
}

.header__list {
  display: none;
  margin-left: 93px;
}
@media screen and (min-width: 768px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.header-mobile__container {
  max-width: 480px;
  margin: 0px auto;
  padding: 10px 10px 48px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: auto;
}

.header-mobile__menu {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-open__button,
.header-menu-close__button {
  display: block;
  margin-left: auto;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-color: transparent;
}
.header-menu-open__button:hover, .header-menu-open__button:focus,
.header-menu-close__button:hover,
.header-menu-close__button:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .header-menu-open__button,
.header-menu-close__button {
    display: none;
  }
}

.header-menu-mobile__icon {
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu__list-mobile {
  margin-bottom: 100px;
}

.header-menu__item-mobile:not(:last-child) {
  margin-bottom: 32px;
}

.link.header-menu__mobile {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17em;
  letter-spacing: 0.02em;
}

.current-link.header-menu__mobile {
  color: #2196f3;
}

.list-contacts__mobile {
  margin-bottom: 64px;
}

.contacts-item-mobile__tel {
  margin-bottom: 32px;
  color: #2196f3;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.22em;
  letter-spacing: 0.02em;
}

.contacts-item-mobile__post {
  color: #757575;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.22em;
  letter-spacing: 0.02em;
}

.mobile-soc__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-soc__item {
  color: #2196f3;
}
.mobile-soc__item:not(:last-child) {
  margin-right: 20px;
}

.mobile-soc__link {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22em;
  letter-spacing: 0.02em;
}

.after.mobile-soc__link::after {
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  display: block;
  width: 22px;
  height: 1px;
  color: rgba(33, 33, 33, 0.2);
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header-menu.link,
.contacts.header.link {
  font-weight: 500;
  position: relative;
  border: none;
}
@media screen and (min-width: 1200px) {
  .header-menu.link,
.contacts.header.link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header-menu.current-link,
.header-menu-mobile.current-link {
  color: #2196f3;
}

.header-menu.current-link::after {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}
@media screen and (min-width: 768px) {
  .header-menu.current-link::after {
    bottom: -37px;
  }
}
@media screen and (min-width: 1200px) {
  .header-menu.current-link::after {
    bottom: -1px;
  }
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.header-menu {
  display: none;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu:hover, .header-menu:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .header-menu {
    display: block;
  }
}

.adress {
  margin-top: 20px;
  font-style: normal;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/* Контакты */
.contacts {
  display: none;
  margin-left: auto;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts:hover, .contacts:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .list.contacts {
    padding: 21px 0px;
  }
}
@media screen and (min-width: 1200px) {
  .list.contacts {
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .contacts-item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-item:not(:last-child) {
    margin: 0px 30px 0px 0px;
  }
}

.hero {
  max-width: 100%;
  margin: 0 auto;
  padding: 118px 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero_background.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--acent);
  text-align: center;
}
.hero:hover, .hero:focus {
  background-color: #188ce8;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0px;
  }
}

.hero-text {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 100% px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .hero-text {
    width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .hero-text {
    width: 696px;
    font-size: 44px;
    line-height: 1.36em;
  }
}

/* Наши преимущества */
.list.benefits__list {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .list.benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .list.benefits__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.benefits {
  padding-bottom: 0;
}

.benefits__icon-wrapper {
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.benefits__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .benefits__item {
    width: calc((100% - 30px) / 2);
  }
}

.benefits__list {
  width: 100%;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .benefits__list {
    text-align: left;
  }
}

.benefits__text {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: #757575;
}

.section.chapter {
  padding-top: 94px;
}
@media screen and (max-width: 1200px) {
  .section.chapter {
    display: none;
  }
}

.chapter-work {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16em;
  text-align: center;
  letter-spacing: 0.03em;
}

.chapter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chapter-item > img {
  width: 370px;
  display: block;
}

.chapter-foto {
  position: relative;
}

.chapter-overlal {
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 370px;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
}

.overlay-text {
  font-weight: 700;
  line-height: 1.14em;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.section.team {
  padding-bottom: 30px;
  background-color: #f5f4fa;
}
@media screen and (min-width: 768px) {
  .section.team {
    padding-bottom: 60px;
  }
}

.chapter-team {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17em;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .chapter-team {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16em;
  }
}

.team-item {
  width: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .team.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team.list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.team-wrapper {
  padding: 30px 16px;
}

.team-member {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18em;
  text-align: center;
  letter-spacing: 0.03em;
}

.work-name {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18em;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Соц сети */
.social.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-button:hover, .social-button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.social-icon {
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon:hover, .social-icon:focus {
  fill: #ffffff;
}

.client-text {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17em;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .client-text {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16em;
  }
}

.client .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .client .list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.company-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 210px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  height: 92px;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.company-logo:hover, .company-logo:focus {
  color: #2196f3;
  border-color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .company-logo {
    width: 170px;
  }
}

.logo-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-icon:hover, .logo-icon:focus {
  fill: #2196f3;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-logo__wrapper {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-logo__wrapper {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .footer-wrapper__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-wrapper__tablet {
    margin-bottom: 0;
  }
}

.adress .link {
  display: block;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .adress .link {
    text-align: left;
  }
}
.adress .link.link:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .adress .link.link:not(:last-child) {
    margin-bottom: 9px;
  }
}

.social-footer {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .social-footer {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .social-footer {
    width: 206px;
    margin-left: 70px;
    padding-top: 12px;
  }
}

.text-footer-sicial {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .text-footer-sicial {
    text-align: left;
  }
}

.social-list.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .social-list.list {
    margin-bottom: 0;
  }
}

.social-icon-footer {
  fill: #ffffff;
}

.social-button-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-button-footer:hover, .social-button-footer:focus {
  background-color: #2196f3;
}

.follow {
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .follow {
    padding-top: 12px;
  }
}

.text-follow {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .text-follow {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .follow-form {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .follow-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.follow-input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25em;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
}
.follow-input:focus {
  outline: rgba(255, 255, 255, 0.3);
}
.follow-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25em;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.follow-input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25em;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.follow-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25em;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.follow-input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25em;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.follow-input::placeholder {
  font-size: 16px;
  line-height: 1.25em;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 768px) {
  .follow-input {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .follow-input {
    margin-bottom: 0;
    min-width: 358px;
  }
}

.follow-button {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.follow-button:hover, .follow-button:focus {
  background-color: #188ce8;
}
@media screen and (min-width: 1200px) {
  .follow-button {
    margin-left: 12px;
  }
}

.icon-follow {
  margin-left: 10px;
}

.galery-list {
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .galery-list {
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1200px) {
  .galery-list {
    margin-bottom: 50px;
  }
}

.galery-link:not(:last-child) {
  margin-right: 8px;
}

.galery-button {
  padding: 6px 22px;
  margin-bottom: 15px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62em;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: #f5f4fa;
  color: #212121;
  border: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.galery-button:hover, .galery-button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 768px) {
  .galery-button {
    margin-bottom: 0;
  }
}

.galery-button.active-btn {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .projeckt-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 768px) {
  .projeckt-list {
    margin-right: -30px;
  }
}

.projeckt-link {
  position: relative;
  border: 1px solid #eeeeee;
  border-top: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .projeckt-link {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .projeckt-link {
    width: calc((100% - 90px) / 3);
  }
}
.projeckt-link:hover .projeckt-top-text, .projeckt-link:focus .projeckt-top-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.projeckt-link:hover, .projeckt-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projeckt-top-wrap {
  display: block;
  position: relative;
  overflow: hidden;
}

.portfolio-wrapper {
  padding: 20px 24px;
}

.projeckt-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.projeckt-description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.projeckt-top-text {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55em;
  letter-spacing: 0.03em;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  max-width: 450px;
  min-height: 609px;
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}
@media screen and (min-width: 480px) {
  .modal {
    min-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
  }
}

.modal-close-btn {
  padding: 0;
  position: absolute;
  right: 8px;
  top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
}
.modal-close-btn:hover, .modal-close-btn:focus {
  color: #2196f3;
}

.close-icon {
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15em;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

strong {
  display: block;
}

.modal-form {
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}
.form-field .textarea-field {
  margin-bottom: 20px;
}

.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16em;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  color: #2196f3;
  outline-color: #2196f3;
}
.modal-input:focus + .icon-modal {
  color: #2196f3;
}

.icon-modal {
  position: absolute;
  bottom: 12px;
  margin-left: 15px;
  fill: currentColor;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
  color: #2196f3;
  outline-color: #2196f3;
}
.modal-textarea::-webkit-input-placeholder {
  color: rgba(33, 33, 33, 0.2);
}
.modal-textarea::-moz-placeholder {
  color: rgba(33, 33, 33, 0.2);
}
.modal-textarea:-ms-input-placeholder {
  color: rgba(33, 33, 33, 0.2);
}
.modal-textarea::-ms-input-placeholder {
  color: rgba(33, 33, 33, 0.2);
}
.modal-textarea::placeholder {
  color: rgba(33, 33, 33, 0.2);
}

.policy-field {
  text-align: center;
}

.policy-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.16em;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .policy-label {
    font-size: 14px;
    line-height: 1.71em;
  }
}

.policy-label span {
  margin-right: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-check {
  fill: transparent;
}

.policy-text {
  font-size: 12px;
  line-height: 1.16em;
  letter-spacing: 0.03em;
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .policy-text {
    font-size: 14px;
    line-height: 1.71em;
  }
}

.checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}
.checkbox:checked + .policy-label span {
  background-color: #2196f3;
  border: none;
}
.checkbox:checked + .policy-label .icon-check {
  fill: #ffffff;
}

.button-modal:hover, .button-modal:focus {
  background-color: #188ce8;
}/*# sourceMappingURL=main.css.map */