/* Header */

.header {
  border-bottom: solid #ececec 1px;
  padding: 10px;
  @media screen and (min-width: 768px) {
    padding: 0;
  }
  .container {
    display: flex;
    align-items: center;
  }
}

.header__container {
  width: 100%;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.header__list {
  display: none;
  margin-left: 93px;
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 88px;
  }
}

.contacts__list {
  @media screen and (min-width: 768px) {
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
  display: flex;
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
  &post {
    width: 14px;
    height: 10px;
  }
  &tel {
    width: 10px;
    height: 14px;
  }
	@media screen and (min-width: 768px) {
    &post {
			width: 16px;
			height: 12px;
		}
		&tel {
			width: 10px;
			height: 16px;
		}
  }
}
