/* Header */

.header {
  border-bottom: solid #ececec 1px;
  .container {
		// height: 60px;
		display: flex;
		align-items: center;
}
}


.header__nav {
	width: 320px;
  display: flex;
  align-items: center;
}

.header__list {
  margin-left: 93px;
  display: flex;
}


.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}