.hero {
  max-width: 100%;
  margin: 0 auto;
  padding: 118px 0px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero_background_mob.jpg);
		@media (min-device-pixel-ratio: 2),
		(min-resolution: 192dpi),
		(min-resolution: 192dppx){
			background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero_background_mob_2x.jpg);
		}
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--acent);
  text-align: center;
  &:hover,
  &:focus {
    background-color: $--background-color-boton;
  }
	@media screen and (min-width: 768px) {
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero_background_tab.jpg);
		@media (min-device-pixel-ratio: 2),
		(min-resolution: 192dpi),
		(min-resolution: 192dppx){
			background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero_background_tab_2x.jpg);
		}
  }
  @media screen and (min-width: 1200px) {
    padding: 200px 0px;
		background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero_background.jpg);
		@media (min-device-pixel-ratio: 2),
		(min-resolution: 192dpi),
		(min-resolution: 192dppx){
			background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero_background_2x.jpg);
		}
  }
}

.hero-text {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 100%px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $--background;
  @media screen and (min-width: 768px) {
    width: 360px;
  }
  @media screen and (min-width: 768px) {
    width: 696px;
    font-size: 44px;
    line-height: 1.36em;
  }
}
