// Глобальные стили
body {
  background-color: $--background;
  color: $--text-primary-color;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
  color: currentColor;
}