$--navigation: #2196f3;
$--background-color-boton: #188ce8;
$--text-regular: #757575;
$--acent: #2f303a;
$--background: #ffffff;
$--text-primary-color: #212121;
$--background-portfolio-color: #e5e5e5;
$--background-team-color: #f5f4fa;
$--fill-icons: #afb1b8;
$--background-social-footer: rgba(255, 255, 255, 0.1);
$--style-botton-radius: 4px;
$--timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);